ARANGO_ROOT_PASSWORD=

ARANGO_URL=http://localhost:8529
ARANGO_DB=aletheia_3
ARANGO_USER=root
ARANGO_PASSWORD=
ARANGO_JWT_TOKEN=
ARANGO_USE_JWT=true

EMBEDDING_DIMENSIONS=1536
EMBEDDING_MODEL=text-embedding-3-small

SEARCH_VECTOR_WEIGHT=0.7
SEARCH_FTS_WEIGHT=0.3

NODE_ENV=development
